html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#app {
  height: 100%;
}
.col-name {
  text-align: center;
  margin: 0.5rem 0 0.5rem 0;
  font-size: 1.25rem;
  font-weight: 600;
  opacity: 0.9;
}
